<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>회원가입</title>
  </head>
  <body>
    <main
      class="container min-vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="row full-height">
        <div
          class="col d-flex flex-column justify-content-center align-items-center"
        >
          <form
            action="/join"
            method="post"
            class="p-5 border shadow-sm rounded-bottom"
          >
            <h1>This <span class="h3">- Admin Page</span></h1>
            <div class="form-group">
              <label for="adminId">아이디</label>
              <input
                type="text"
                class="form-control"
                id="adminId"
                name="adminId"
              />
            </div>
            <div class="form-group">
              <label for="password">비밀번호</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="form-group mb-3">
              <label for="cafeteria_name">식당명</label>
              <select
                class="form-control"
                id="cafeteriaList"
                name="cafeteria_id"
              >
                {% for cafeterum in cafeteriaList %}
                <option value="{{cafeterum.cafeteria_id}}">
                  {{cafeterum.name_ko}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group mb-5">
              <label for="admin_type">관리자 유형</label>
              <select class="form-control" id="admin_type" name="admin_type">
                {% for adminType in adminTypeList %}
                <option value="{{loop.index}}">{{adminType}}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-success btn-block mb-3">
              회원가입
            </button>
          </form>
        </div>
      </div>
    </main>
    {% if message %}
    <div class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">회원 가입 실패</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{message}}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    {% if message %}
    <script>
      $(".modal").modal("show");
    </script>
    {% endif %}
  </body>
</html>
